Repository tessro/fab: changes, and which lefthook commands are due for each by the changed paths.
All: build, test, lint, docs

build:
  run: go build -v ./...

test:
  run: go test -race ./...

lint:
  run: golangci-lint run ./...

docs:
  run: "if command -v pave >/dev/null 2>&1; then\n  pave check\nfi\n"

fix(manager): auto-resume stopped manager on new message
  internal/manager/manager.go
  internal/processagent/processagent.go
  internal/supervisor/handle_manager.go
Due: build, test, lint

chore(ci): update golangci-lint to v2.8 and fix lint issues
  .github/workflows/ci.yml
  internal/cli/project_test.go
  internal/rules/rules_test.go
  internal/supervisor/commentpoll_test.go
Due: build, test, lint

fix(tui): ensure stable ordering for recent commits list
  internal/supervisor/handle_commits.go
Due: build, test, lint

feat(tui): add supervisor start/stop from TUI
  internal/daemon/interfaces.go
  internal/tui/chatview.go
  internal/tui/chatview_test.go
  internal/tui/commands.go
  internal/tui/helpbar.go
  internal/tui/keybindings.go
  internal/tui/messages.go
  internal/tui/mode.go
  internal/tui/update.go
Due: build, test, lint

feat(daemon): add protocol types for director agent
  internal/daemon/protocol.go
Due: build, test, lint

feat(paths): add DirectorWorkDir helper function
  internal/paths/paths.go
  internal/paths/paths_test.go
Due: build, test, lint

feat(daemon): add client methods for director
  internal/daemon/client.go
Due: build, test, lint

feat(director): add director package with Director struct
  internal/director/director.go
  internal/director/director_test.go
Due: build, test, lint

docs: remove undocumented webhook configuration
  README.md
  docs/components/configuration.md
  docs/components/supervisor.md
Due: docs

feat(tui): shorten file paths in chat when prefix matches worktree
  internal/tui/chatview.go
  internal/tui/chatview_test.go
  internal/tui/helpers.go
Due: build, test, lint

feat(supervisor): add director agent handlers
  docs/components/supervisor.md
  internal/runtime/agents.go
  internal/supervisor/handle_director.go
  internal/supervisor/handle_streaming.go
  internal/supervisor/supervisor.go
Due: build, test, lint, docs

feat(cli): add director agent commands
  docs/components/cli.md
  internal/cli/director.go
Due: build, test, lint, docs

refactor(tui): remove usage and commit tracking
  internal/daemon/client.go
  internal/daemon/interfaces.go
  internal/daemon/protocol.go
  internal/orchestrator/commits.go
  internal/orchestrator/commits_test.go
  internal/orchestrator/orchestrator.go
  internal/orchestrator/orchestrator_test.go
  internal/supervisor/handle_commits.go
  internal/supervisor/handle_stats.go
  internal/supervisor/helpers.go
  internal/supervisor/supervisor.go
  internal/tui/commands.go
  internal/tui/header.go
  internal/tui/helpers.go
  internal/tui/messages.go
  internal/tui/recentwork.go
  internal/tui/styles.go
  internal/tui/tui.go
  internal/tui/update.go
  internal/usage/usage.go
  internal/usage/usage_test.go
Due: build, test, lint

feat(director): add dynamic project context to system prompt
  internal/director/director.go
  internal/director/director_test.go
Due: build, test, lint

docs: fix tui/attach command distinction in documentation
  README.md
  docs/components/cli.md
Due: docs

docs: fix project config command syntax in configuration.md
  docs/components/configuration.md
Due: docs

docs: fix broken ARCHITECTURE.md link in README
  README.md
Due: docs

feat(tui): add director agent support
  internal/daemon/interfaces.go
  internal/tui/agentlist.go
  internal/tui/commands.go
  internal/tui/helpers.go
  internal/tui/styles.go
  internal/tui/update.go
Due: build, test, lint

docs(tui): add missing 's' keybinding for supervisor view
  docs/components/tui.md
Due: docs

docs: document all global defaults in configuration docs
  README.md
  docs/components/configuration.md
Due: docs

docs: add FAB_AGENT_ID to environment variables table
  README.md
Due: docs

test(e2e): add director lifecycle end-to-end tests
  internal/e2e/director_test.go
Due: build, test, lint

fix(plugin): move skills to plugin root level for Claude Code discovery
  internal/plugin/files/.claude-plugin/plugin.json
  internal/plugin/files/skills/docs-review/SKILL.md
  internal/plugin/files/skills/review/SKILL.md
  internal/plugin/plugin_test.go
Due: build, test, lint, docs

fix(e2e): skip director tests when claude CLI unavailable
  internal/e2e/director_test.go
Due: build, test, lint

refactor(config): use kebab-case for all TOML config keys
  .pave.toml
  README.md
  docs/components/configuration.md
  docs/components/permissions.md
  internal/config/global.go
  internal/registry/registry.go
  internal/registry/registry_test.go
  internal/rules/rules.go
  internal/rules/rules_test.go
  permissions.toml.default
Due: build, test, lint, docs

fix(plugin): update review skills to diff all worktree changes
  internal/plugin/files/skills/docs-review/SKILL.md
  internal/plugin/files/skills/review/SKILL.md
Due: docs

refactor(config): remove legacy snake_case TOML config support
  docs/components/configuration.md
  docs/getting-started.md
  internal/registry/registry.go
  internal/registry/registry_test.go
Due: build, test, lint, docs

Path conditions:
  build: any of: *.go
  test: any of: *.go
  lint: any of: *.go
  docs: any of: *.md
